.addtask
{
    width: 70%;
    margin: 15px auto 15px;
    display: flex;
    justify-content: center;
    /* min-width: 775px; */
}

.addtask form
{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 15px 54px;
    margin: 0 auto;
    gap: 10px;
}

.addtask form label 
{
    font-size: 3rem;
    margin-right: 10px;
}

.addtask form div
{
    display: flex;
    gap: 12px;
}


.addtask form input
{
    height: 40px;
    width: 300px;
    padding-left: 10px;
    font-size: 1.8rem;
}

.addtask form select    
{
    height: 40px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
    outline: 3px solid #9fc205;
    border: none;
    color: #9fc205  ;
    transition: 0.2s all ease-in-out;
}

.addtask form select:hover
{
    color: white;
    background-color: #9fc205;
    outline: none;
    border-radius: 10px;
}

.addtask form button
{
    width: 100px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.addtask form .reset
{
    background-color: transparent;
    outline: 3px solid #b52020;
    border: none;
    color: #b52020;
    transition: 0.2s all ease-in-out;
    
}

.addtask form .reset:hover
{
    color: white;
    background-color: #b52020;
    outline: none;
    border-radius: 10px;
}

.addtask form .addtaskBTN
{
    background-color: transparent;
    outline: 3px solid rgb(32, 175, 32);
    border: none;
    color: rgb(32, 175, 32);
    transition: 0.2s all ease-in-out;
}

.addtask form .addtaskBTN:hover
{
    color: white;
    background-color: rgb(32, 175, 32);
    outline: none;
    border-radius: 10px;
}


@media (max-width: 870px)
{
    .addtask form
    {
        flex-direction: column; 
    }

    .addtask form input
    {
        width: 365px;
    }
}