.ganzo
{
    color:red;
}

.boton
{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: rgb(209, 22, 22);
    padding: 10px 15px;
    transition: 0.2s all ease-in-out;
}

.boton:hover
{
    outline: 2px solid rgb(209, 22, 22);
    background-color: transparent;
    color: rgb(209, 22, 22);
}


