.ganzo
{
    color:red;
}

.boton,.boton2
{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    /* border-radius: 10px; */
    background-color: rgb(209, 22, 22);
    /* padding: 10px 15px; */
    width: 36px;
    height: 50px;
    transition: 0.2s all ease-in-out;
}



.boton:hover
{
    outline: 2px solid rgb(209, 22, 22);
    background-color: transparent;
    color: rgb(209, 22, 22);
    border-radius: 10px;
    transform: scale(1.8);
    outline: none;

}

/* .doneBTN */
.boton2
{
    background-color: rgb(247, 232, 23);
    /*pointer-events: none; QUITA EL HOVER! LOOOL*/
    text-decoration: none;
    width: 100px;
}

.boton2:hover
{
    outline: 2px solid rgb(209, 22, 22);
    background-color: transparent;
    color: rgb(209, 22, 22);
    border-radius: 10px;
    transform: scale(1.2);
    outline: none;

}



li.completed .li-upper button {
    text-decoration: none !important;
  }


.cardTodoIcon:hover
{
    transform: scale(1.2);
    transition: 0.3s all;
    background-color: blue;
}
