
main
{
    width: 90%;
    margin: 30px auto 10px;
    /* min-width: 600px; */
    max-width: 700px;
    position: relative;
}

.toggleBTN
{
    position: absolute;
    right: 0;
    top: -5px;
    width: 115px;
    font-size: 2rem;
    height: 40px;
    /* border-radius: 10px; */
    outline: 3px solid #f90817;
    border: none;
    background-color: transparent;
    color: #f90817;
    transition: 0.2s all ease-in-out;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.toggleBTN:hover
{
    background-color: #f90817   ;
    color: white;
    outline: none;
    border-radius: 10px;
}

.hideBTN
{
    top: 40px
}

main ul
{
    padding: 40px 0;
}



ul
{
    list-style: none;
}

ul li
{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 25px;
    border: 1px solid rgb(102, 101, 101);
    padding: 10px 20px;
    border-left: 5px solid rgb(81, 81, 236);
}

ul li > div:nth-child(1)
{
    display: flex;
    justify-content: space-between;
    grid-area: b;
}

ul li > div:nth-child(1) span
{
    cursor:pointer;
}

ul li > div:nth-child(2)
{
    display: flex;
    grid-area: a;
    /* gap: 10px; */
}

ul li > div:nth-child(2) p
{
    font-size: 1.3rem;
    font-weight: bold;
}

.taskDisplayingTitle
{
    font-size: 1.4rem;
    font-weight: bold;
}



.completedAndTachado
{
    text-decoration: line-through; 
}

.completed
{
    /* text-decoration: line-through; */
    box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    -webkit-box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    -moz-box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    color: rgb(53, 52, 52);
    /* background-color: rgb(169, 248, 169); */

    opacity: 0.8;
    /* background-color: rgb(19, 18, 18); */
    /* background-color: white; */
}

.incomplete
{
    box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
    -webkit-box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
    -moz-box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
}


.tasksFilterButtonContainer
{
    display: flex;
}

.tasksFilterButtonContainer-upper
{
    display: flex;
    gap:10px;
}

.tasksFilterButton
{
    background-color: transparent;
    border: none;
    transition: 0.2s all ease-in-out;
    height: 30px;
    width: 100px;
    outline: 3px solid rgb(206, 101, 16);
    color: rgb(206, 101, 16);
    font-weight: bold;
}

/* .tasksFilterButton:hover
{
    color: white;
    background-color: rgb(206, 101, 16);
    outline: none;
    border-radius: 10px;
} */

main ul li .li-lower
{
    align-items: center;
}

main ul li .li-lower .taskDateTitle
{
    padding-right: 2px;
}

li .li-upper button
{
    max-height: 36px    ;
}


.cardButtonsContainer
{
    display: flex;
    gap: 20px;
}

.cardButtonsContainer button:nth-child(1)
{
    background-color: #a5af1c;
}

.cardButtonsContainer button:nth-child(2)
{
    background-color: #1d781d;
}

.cardButtonsContainer button:nth-child(1):hover
{
    background-color: transparent;
    color: #1d781d;
    /* outline: 1px solid #1d781d; */
}
.cardButtonsContainer button:nth-child(2):hover
{
    background-color: transparent;
}


.cardButtonsContainer button:nth-child(1)#undoBTN
{
    background-color: #cf8120;
    width: 100px;
}

.cardButtonsContainer button:nth-child(1)#undoBTN:hover
{
    background-color: transparent;
    color: #cf8120;
    outline: 1px solid #cf8120;
}




.filter-selected
{
    border-radius: 10px;
    background-color: #cf8120;
    color: white;
}



.uSure
{
    text-align: right;
    font-weight: bolder;
    color:white;
}

.uSureBTN 
{
    width: 80px;
    height: 40px;
}

/* .uSureBTN1
{

}

.uSureBTN2
{

} */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Medias */ 





@media (max-width: 830px)
{
    main .tasksFilterButtonContainer
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    main .tasksFilterButtonContainer-upper
    {
        display: flex;
    }

    main .tasksFilterButtonContainer .tasksFilterButtonContainer-lower button
    {
        position: unset;
        width: 100%;
    } 
}


@media (max-width: 700px)
{
        /* >> filtros */

        main .tasksFilterButtonContainer
        {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    
        main .tasksFilterButtonContainer .tasksFilterButtonContainer-upper
        {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 15px;
        }
    
        main .tasksFilterButtonContainer .tasksFilterButtonContainer-upper button
        {
            width: 100%;
        } 
    
        main .tasksFilterButtonContainer .tasksFilterButtonContainer-lower
        {
            width: 100%;
        }
    
        main .tasksFilterButtonContainer .tasksFilterButtonContainer-lower button
        {
            position: unset;
            width: 100%;
        } 
}






@media (max-width:550px)
{


    /* >> filtros */

    main .tasksFilterButtonContainer
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    main .tasksFilterButtonContainer .tasksFilterButtonContainer-upper
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
    }

    main .tasksFilterButtonContainer .tasksFilterButtonContainer-upper button
    {
        width: 100%;
    } 

    main .tasksFilterButtonContainer .tasksFilterButtonContainer-lower
    {
        width: 100%;
    }

    main .tasksFilterButtonContainer .tasksFilterButtonContainer-lower button
    {
        position: unset;
        width: 100%;
    } 






    /* >> Alineación del contenido en las tasks */
    
    main ul li
    {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        ". . time"
        "content content content";
    }

    main ul li .li-lower
    {
        grid-area: time;
    }

    main ul li .li-upper
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-area: content;
    }

    main ul li .li-upper button
    {
        width: 100%;
    }
}









