
main
{
    width: 90%;
    margin: 30px auto 10px;
    /* min-width: 600px; */
    max-width: 700px;
    position: relative;
}

.toggleBTN
{
    position: absolute;
    right: 0;
    width: 100px;
    font-size: 2rem;
    height: 31px;
    border-radius: 10px;
    outline: 3px solid #4545e6;
    border: none;
    background-color: transparent;
    color: #4545e6;
    transition: 0.2s all ease-in-out;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBTN:hover
{
    background-color: #4545e6;
    color: white;
    outline: none;
}

main ul
{
    padding: 40px 0;
}



ul
{
    list-style: none;
    /* min-width: 600px; */
}

ul li
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 25px;
    border: 1px solid rgb(102, 101, 101);
    padding: 10px 20px;

}

ul li > div:nth-child(1)
{
    display: flex;
    justify-content: space-between;
    grid-area: b;
}

ul li > div:nth-child(1) span
{
    cursor:pointer;
}

ul li > div:nth-child(2)
{
    display: flex;
    grid-area: a;
    /* gap: 10px; */
}

ul li > div:nth-child(2) p
{
    font-size: 1.3rem;
    font-weight: bold;
}

.taskDisplayingTitle
{
    font-size: 1.4rem;
    font-weight: bold;
}


.completed
{
    text-decoration: line-through;
    box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    -webkit-box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    -moz-box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    color: rgb(53, 52, 52);

}

.incomplete
{
    box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
    -webkit-box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
    -moz-box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
}


.tasksFilterButtonContainer
{
    display: flex;
}

.tasksFilterButtonContainer-upper
{
    display: flex;
    gap:10px;
}

.tasksFilterButton
{
    background-color: transparent;
    border: none;
    transition: 0.2s all ease-in-out;
    height: 30px;
    width: 90px;
    outline: 3px solid rgb(206, 101, 16);
    color: rgb(206, 101, 16);
    font-weight: bold;
}

.tasksFilterButton:hover
{
    color: white;
    background-color: rgb(206, 101, 16);
    outline: none;
    border-radius: 10px;
}


@media (max-width: 750px)
{
    main ul li
    {
        height: 140px;
        /* display: flex;
        flex-direction: column;
        padding: 20px; */

        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* grid-template-rows: repeat(4,1fr);
        grid-template-areas:
            ". . a"
            "b b b"
            "b b b"
            ". . ."; */
        /* gap: 2px; */
        padding: 5px 10px 0 10px;
        

        height: unset;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas:
            ". . a"
            "b b b"
            "b b b";
        padding: 15px;
        }

    main ul li .li-lower
    {
        justify-self: flex-end;
    }

    main ul li .li-upper
    {
        flex-direction: column;
        gap:10px;
    }
}


@media (max-width: 640px)
{
    .li-upper > div span:nth-child(2)
    {
        font-size: 2.2rem;
    }
}



@media (max-width: 520px)
{
    .tasksFilterButtonContainer
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }


    .tasksFilterButtonContainer-lower 
    {
        display: flex;
        justify-content: center;

    }

    .tasksFilterButtonContainer-lower .toggleBTN
    {
        position: relative;
        display: flex;
        justify-content: center;
        width: 290px;
    }

    main ul li
    {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas:
            ". a"
            "b b"
            "b b"
            ". .";
    }

    main ul li .li-lower
    {
        justify-self: flex-end;
    }

    
}

@media (max-width: 490px)
{
    .App .addtask form
    {
        border: 0px solid gray;
    }
}