
main
{
    width: 70%;
    margin: 30px auto 10px;
    /* min-width: 600px; */
    max-width: 700px;
    position: relative;
}

.toggleBTN
{
    position: absolute;
    right: 0;
    width: 100px;
    font-size: 2rem;
    height: 31px;
    border-radius: 10px;
    outline: 3px solid #4545e6;
    border: none;
    background-color: transparent;
    color: #4545e6;
    transition: 0.2s all ease-in-out;
    font-weight: bolder;
}

.toggleBTN:hover
{
    background-color: #4545e6;
    color: white;
    outline: none;
}

main ul
{
    padding: 40px 0;
}



ul
{
    list-style: none;
}

ul li
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 25px;
    border: 1px solid rgb(102, 101, 101);
    padding: 10px 20px;
    
}

.completed
{
    text-decoration: line-through;
    box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    -webkit-box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    -moz-box-shadow: -1px 8px 16px 1px rgba(66,250,51,0.77);
    color: rgb(53, 52, 52);

}

.incomplete
{
    box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
    -webkit-box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
    -moz-box-shadow: -1px 8px 16px 1px rgba(252,40,26,0.77);
}




.tasksFilterButtonContainer
{
    display: flex;
    gap:10px;
}

.tasksFilterButton
{
    background-color: transparent;
    border: none;
    transition: 0.2s all ease-in-out;
    height: 30px;
    width: 90px;
    outline: 3px solid rgb(206, 101, 16);
    color: rgb(206, 101, 16);
    font-weight: bold;
}

.tasksFilterButton:hover
{
    color: white;
    background-color: rgb(206, 101, 16);
    outline: none;
    border-radius: 10px;
}
