*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}


.App
{
    width: 90%;
    margin: 0 auto;
}

h1
{
    text-align: center;
}


/* Modo claro */
body.modo-claro {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Modo oscuro */
  body.modo-oscuro {
    background-color: #000000;
    color: #ffffff;
  }

  body
  {
    transition: background-color 0.5s ease;
  }